@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sans';
    src: url('./assets/font/Afacad-Regular.ttf');
  }

  #sans{
    font-family: 'sans', sans-serif;
  }

@font-face {
    font-family: 'hw';
    src: url('./assets/font/GreatVibes-Regular.ttf');
  }

  #hw{
    font-family: 'hw', sans-serif;
  }