@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'sans';
    src: url('./assets/font/Afacad-Regular.ttf');
  }

  #sans{
    font-family: 'sans', sans-serif;
  }

@font-face {
    font-family: 'hw';
    src: url('./assets/font/GreatVibes-Regular.ttf');
  }

  #hw{
    font-family: 'hw', sans-serif;
  }

  @media (max-height: 768px) {
    .rspn1{
      margin-top: 160px;
    }
    .rspn2{
      margin-top: 128px;
      margin-bottom: 128px;
    }
  }

  @media (min-height: 768px) {
    .rspn1{
      margin-top: 195px;
    }
    .rspn2{
      margin-top: 240px;
    }
  }

  @media (min-height: 925px) {
    .rspn1{
      margin-top: 225px;
    }
    .rspn2{
      margin-top: 270px;
    }
  }